  body {
    background-color: #F4F4F4;
    color: #24201D;
    font-family: Arial, sans-serif;

  /*---GRID?---
    display: grid;
    width: 100%;
    grid-template-areas:
      'menu'
      'hovud'
      'botn';
    padding: 0;
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;*/

  }
/*--------------------NAVIGASJON--------------------*/
.navigasjon{
  top: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  display:inline-block;
  width: 100%;
  height: 50px;
  background-color: #1F2421;
  text-transform: uppercase;
  font-size: 1em;
}

.navigasjon li{
  display: block;
  float:left;
}

.navigasjon ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigasjon button{
  display: inline-block;
  color: #F4F4F4;
  padding: 15px 32px;
  border: none;
  background-color: #1F2421;
  text-decoration: none;
  font-size: 1em;
}

/* Farge til navigasjon */

#btn1:hover:not(.activemenu),
.activemenu #btn1{
  background-color: #542344;
}

#btn2:hover:not(.activemenu),
.activemenu #btn2{
  background-color: #074F57;
}

#btn3:hover:not(.activemenu),
.activemenu #btn3{
  background-color: #374C70;
}

#btn4:hover:not(.activemenu),
.activemenu #btn4{
  background-color: #68553E;
}

/*--------------------hovudinnhald--------------------*/
.hovudinnhald{
  display: block;
  padding: auto;
  margin: auto;
  /*border: dashed thin black;*/
  /*background-color: #EDEDE9;*/
}

.center{
  top: 49px; /*Same height as nav*/
  bottom:50px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  display: block;
  max-width: 60%;
  min-width: 60%;
  overflow: scroll;
  padding: 10px;
  margin: auto;
}
/* Gjør klassen usynlig */
.hovud, .sidenav{
  visibility: hidden;
  display: none;
}

/*--------------------active--------------------*/
/* Gjør den aktive klassen synlig */
.active, .activeSidenav{
  visibility: visible;
  display:block;
  margin: auto;
  }
/*--------------------INTRODUKSJON--------------------*/
.introduksjon {
  width: 100%;
  padding: auto;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.introduksjon h1{
  padding: 10px;
  margin: 0;
  background-color: #542344;
  color: white;
}

.introduksjon p{
  padding: 10px;
  padding-bottom: 1em;
  margin: 0;
}

.introduksjon article{
  background-color: #DFD7DD;
}

/*--------------------OVERSIKT--------------------*/
.oversikt table {
  width: 100%;
  border-collapse: collapse;
}

.oversikt th,
.oversikt td {
  padding: 8px;
  text-align: left;
}

.oversikt thead {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #074F57;
  color: white;
}

.oversikt tbody {
  width:100%;
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide horizontal scroll */
}

.oversikt tr:nth-child(even) { /* Forandrer fargen til partalls linjer */
  background-color: #D1DFE0;
}


/*--------------------DETALJAR SEARCH--------------------*/

#detailsInput input[type=text] {
  width: 200px;
}

#detailsForm{
  display: block;
  width: 248px;
  height: auto;
  border: 1px solid grey;
  margin: auto;
  margin-top: 10px;
  background-color: #DADEE5;
}

#detailsInput{
  width: 200px;
  height: 33px;
  font-size: 1em;
  padding:0.1em;
  border: none;
  background-color: #DADEE5;
}

#detailsButton{
  width:40px;
  height:40px;
  border:none;
  background:url(../images/search2.png) no-repeat;
  background-size: contain;
}

/*--------------------DETALJAR NAV--------------------*/
.sidenav{
  top: 49px; /*Same height as nav*/
  left:25px;
  z-index: 2;
  position: fixed;
  position: -webkit-fixed;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  max-width:20%;
  margin: 0;
  padding: 0;
  background-color: #DADEE5;
  list-style-type: none;
}

.sidenav li a{
  color: black;
  text-decoration: none;@
}

.sidenav li{
  padding: 0.5em;
}

.sidenav li:hover{
  background-color: #374C70;
}


/*--------------------DETALJAR--------------------*/
.detailsOutput p,
.mainHeader,
.subHeader,
.subHeader2 {
  font-weight: bold;
}
.detailsOutput .mainHeader {
  font-size: 2em;
}
.detailsOutput .subHeader {
  font-size: 1.5em;
}
.detailsOutput .subHeader2 {
  font-size: 1em;
}

/*--------------------Detaljar Table--------------------*/
.headerCell {
  font-weight: bold;
}
.dataCell {
  padding-left: 1.5em;
}

.percentCell::after {
  content: "%";
}

.detailsOutput table,
.comparisonOutput table{
  z-index: 0;
  width: 100%;
  padding:auto;
  padding-top: 10px;
  margin: auto;
  border-collapse: collapse;
}

.detailsOutput th,
.detailsOutput td,
.comparisonOutput th,
.comparisonOutput td {
  height: 40px;
  text-align: left;
}

.detailsOutput th,
.comparisonOutput th{
  width:80px;
}

.detailsOutput table,
.comparisonOutput table{
  z-index: 0;
  padding-top: 10px;
}

.detailsOutput thead{
  background-color: #374C70;
  color: white;
}

.detailsOutput > div:nth-child(1) > table:nth-child(3) > thead:nth-child(1){
  top: -10px;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;

}

.detailsOutput tbody,
.comparisonOutput tbody {
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide horizontal scroll */
}

.detailsOutput tr:nth-child(even){
  background-color: #DADEE5;
}

.populationTable,
.employmentTable,
.educationTable,
.education11Table,
.education12Table,
.education03aTable,
.education04aTable {
  visibility: hidden;
  display: none;
}
/*--------------------Graph--------------------*/
.canvasGraph {
  margin-top: 1em;
  visibility: hidden;
  background-color: #F4F4F4;
  padding-bottom: 1em;
  padding-left: 0.5em;
  margin-left: -5% !important;
}

.canvasGraph.transition{
  transition: 1s;
  margin-left: 0% !important;
}

/*--------------------Active--------------------*/
/* Viser aktiv klasse */
.activeTable{
  visibility: visible;
  display:block;
}


/*--------------------TableToggle--------------------*/
.tableToggle {
  position: relative;
}
.detailsOutput .tableToggle,
.comparisonOutput .tableToggle {
  border: 1px solid #1a1a1a;
  display: inline-block;
  padding: 0.3em;
  border: 1px solid #1a1a1a;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  font-size: 0.8em;
}
.detailsOutput input[type="radio"].toggle,
.comparisonOutput input[type="radio"].toggle {
  display: none;
}
/*input[type="radio"].toggle + label {*/
.detailsOutput input[type="radio"].toggle + label,
.comparisonOutput input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
.detailsOutput input[type="radio"].toggle + label:hover,
.comparisonOutput input[type="radio"].toggle + label:hover {
  background: none;
}

input[type="radio"].toggle + label:after {
  top: 0;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: left 200ms cubic-bezier(1, .11, .93, 1);
  background: #1F2421;

}
.detailsOutput input[type="radio"].toggle.toggle-left + label:after,
.comparisonOutput input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
.detailsOutput input[type="radio"].toggle.toggle-right + label:after,
.comparisonOutput input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  color: #fff;
  transition: color 200ms;
  cursor: default;
}
.detailsOutput input[type="radio"].toggle:checked + label:after,
.comparisonOutput input[type="radio"].toggle:checked + label:after {
  left: 0;
}

/*Color themes*/
.detailsOutput input[type="radio"].toggle + label:hover {
  color: #374C70;
}
.comparisonOutput input[type="radio"].toggle + label:hover {
  color: #68553E;
}
.detailsOutput input[type="radio"].toggle + label:after {
  background: #374C70;
}
.comparisonOutput input[type="radio"].toggle + label:after {
  background: #68553E;
}
.detailsOutput input[type="radio"].toggle:checked + label,
.comparisonOutput input[type="radio"].toggle:checked + label {
  color: #fff;
}
/*--------------------SAMANLIKNING--------------------*/
.comparisonOutput thead {
  background-color: #68553E;
  color: white;
}

.comparisonOutput tbody td,
.comparisonOutput thead td{
  text-align: center !important;
}

/*Bold eller farga?*/
.highlightedCell {
  z-index: 0;
  color: white;
  box-shadow: inset 0px 0px 0px 2px #E3E0DB;
  padding-left:auto;
  padding-right: auto;
  background-color: #9E9284;
  font-weight: bold !important;
}

.highlightedCell th{
  text-align: center;
}
.comparisonOutput .employmentTable tr:nth-child(even) {
  background-color: #E3E0DB;
}

/*--------------------SEARCH--------------------*/

#comparisonForm{
  display: block;
  width: 500px;
  height: auto;
  border: 1px solid grey;
  margin: auto;
  margin-top: 10px;
  background-color: #E3E0DB;
}

#comparisonInput1,
#comparisonInput2{
  width: 220px;
  height: 33px;
  border: none;
  padding:0.1em;
  background-color: #E3E0DB;
  font-size: 1em;
}

#comparisonButton{
  background:url(../images/search3.png) no-repeat;
  background-size: contain;
  border:none;
  width:40px;
  height:40px;
}

/*--------------------botntekst--------------------*/
.botntekst{
  bottom: 0;
  right: 0;
  z-index: 1;
  display:inline-block;
  width: 100%;
  position: fixed;
  background-color: #1F2421;
  color: #F4F4F4;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}
