body {
  background-color: #F4F4F4;
  font-family: Arial, sans-serif;
  font-size: 1em;
  }

/*--------------------NAVIGASJON--------------------*/
.navigation{
  top: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  display:inline-block;
  width: 100%;
  background-color: #1F2421;
  text-transform: uppercase;
}

.navigation li{
  display: block;
  float:left;
}

.navigation ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation button{
  display: block;
  color: #F4F4F4;
  border: none;
  background-color: #1F2421;
  text-decoration: none;
}

/*--- Farge til navigasjon ---*/

#navButton1:hover:not(.activemenu),
.activemenu #navButton1{
  background-color: #542344;
}

#navButton2:hover:not(.activemenu),
.activemenu #navButton2{
  background-color: #074F57;
}

#navButton3:hover:not(.activemenu),
.activemenu #navButton3{
  background-color: #374C70;
}

#navButton4:hover:not(.activemenu),
.activemenu #navButton4{
  background-color: #68553E;
}

/*--------------------hovudinnhald--------------------*/
main{
  display: block;
  padding: auto;
  margin: auto;
}

.center{
  top: 49px; /*Same height as nav*/
  bottom:50px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin: auto;
}
/* Gjør klassen usynlig */
.main, .sidenav{
  visibility: hidden;
  display: none;
}

/*--------------------active--------------------*/
/* Gjør den aktive klassen synlig */
.active, .activeSidenav{
  visibility: visible;
  display:block;
  margin: auto;
 }

/*--------------------SEARCH--------------------*/

#comparisonForm,
#detailsForm,
#overviewForm{
  display: block;
  height: 40px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 10px;
}

#detailsForm,
#overviewForm{
  width: 247.4px;
}

#overviewInput,
#detailsInput,
#comparisonInput1,
#comparisonInput2{
  width: 200px;
  height: 28px;
  font-size: 0.9em;
  padding:0.1em;
  border: none;
  margin: 0;
}

#detailsForm,
#detailsInput{
  background-color: #DADEE5;
}

#detailsButton,
#comparisonButton{
  width:40px;
  height:40px;
  border:none;
}

/*--- Overview ---*/
#overviewForm,
#overviewForm Input {
  background-color: #D1DFE0;
}

#overviewForm Input{
  padding-top: 0.35em;
}

#comparisonForm,
#detailsForm{
  contain: content;
}


/*--- Details ---*/

#detailsButton{
  background:url(../images/search.png) no-repeat;
  background-size: contain;
  background-color: #374C70;
}

/*--- Comparison ---*/
#comparisonForm{
  width: 455.3px;
}

#comparisonForm,
#comparisonInput1,
#comparisonInput2{
  background-color: #E3E0DB;
}

#comparisonButton{
  background:url(../images/search.png) no-repeat;
  background-size: contain;
  background-color: #68553E;
}

/*--------------------INTRODUKSJON--------------------*/

.introduction {
  width: 100%;
  padding: auto;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.introduction h1{
  padding: 10px;
  margin: 0;
  background-color: #542344;
  color: white;
}

.introduction p{
  padding: 10px;
  padding-bottom: 1em;
  margin: 0;
}

.introduction article{
  background-color: #DFD7DD;
}

.introduction .subHeader {
  font-size: .8em;
}

#wrong{
  color: #542344;
  background-color: #F4F4F4;
  font-weight: bold;
  text-transform: uppercase;
  padding:10px;
  border: 1px solid #542344;
  width: 406px;
  text-align: center;
  margin: auto;
}

#sources > li:nth-child(1){
  padding: 0;
  font-weight: bold;
}
#sources{
  list-style-type: none;
  padding-left: 0;
  font-style: italic;
}

#sources a{
  padding-left: 10px;
  text-decoration: none;
  color: #542344;
}
#sources li a:hover{
  background-color: #542344;
  color: #fff;
  padding-right: 10px;
}



/*--------------------OVERSIKT--------------------*/

.overview table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.overview th,
.overview td {
  padding: 8px;
  text-align: left;
  width: 33%;
}

.overview thead {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #074F57;
  color: white;
}

.overview tbody {
  width:100%;
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide horizontal scroll */
}

.hiddenRow {
  display: none;
}

.overview tr:nth-child(even){ /* Forandrer fargen til partalls linjer */
  background-color: #D1DFE0;
}

.visibleRow{
  background-color: #D1DFE0 !important;
  border: solid thin #F4F4F4;
}

/*--------------------Detaljar----------------------------*/
.detailsOutput p,
.mainHeader,
.subHeader,
.subHeader2 {
  font-weight: bold;
}
.detailsOutput .mainHeader {
  font-size: 1.5em;
}
.detailsOutput .subHeader {
  font-size: 1.5em;
}
.detailsOutput .subHeader2 {
  font-size: 1em;
}

/*--------------------Detaljar Table--------------------*/
.headerCell {
  font-weight: bold;
}
.dataCell {
  padding-left: 1.5em;
}

.percentCell::after {
  content: "%";
}

.detailsOutput table,
.comparisonOutput table{
  z-index: 0;
  width: 100%;
  padding: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.tableHeader,
.detailsOutput th,
.detailsOutput td,
.comparisonOutput th,
.comparisonOutput td {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 30px;
  max-height: 50px;
}

.comparisonOutput th,
.comparisonOutput td,
.comparisonOutput th:not(.tableHeader th),
.comparisonOutput td:not(.tableHeader td){
  text-align: right;
}

.detailsOutput thead{
  background-color: #374C70;
  color: white;
}

.detailsOutput > div:nth-child(1) > table:nth-child(3) > thead:nth-child(1){
  top: -10px;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
}

.detailsOutput tbody,
.comparisonOutput tbody {
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide horizontal scroll */
}

.detailsOutput tr:nth-child(even){
  background-color: #DADEE5;
}

.populationTable,
.employmentTable,
.educationTable,
.education11Table,
.education12Table,
.education03aTable,
.education04aTable {
  visibility: hidden;
  display: none;
}

/*--------------------SAMANLIKNING--------------------*/
.comparisonOutput thead {
  background-color: #68553E;
  color: white;
  font-weight: bold !important;
}


.comparisonOutput .highlightedCell,
.comparisonOutput .highlightedCell2 {
  z-index: 0;
  color: white;
  box-shadow: inset 0px 0px 0px 2px #E3E0DB;
  padding-left:auto;
  padding-right: auto;
  font-weight: bold !important;
}
.comparisonOutput .highlightedCell {
  background-color: #9E9284;
}
.comparisonOutput .highlightedCell2 {
  background-color: #F4F1AB;
  color: #9E9284;
}

.comparisonOutput .highlightedCell th,
.comparisonOutput .highlightedCell2 th{
  text-align: center;
}

.comparisonOutput .employmentTable tr:nth-child(even) {
  background-color: #E3E0DB;
}


/*--------------------Graph--------------------*/
.canvasGraph {
  margin-top: 1em;
  background-color: #DADEE5;
  padding-bottom: 1em;
  padding-left: 0.75em;
  margin-left: -5% !important;
}

.canvasGraph.transition{
  transition: 1s;
  margin-left: 0% !important;
}

tr.mouseOver:active {
  background-color: #374C70;
  color: #F4F4F4;
}

/*--------------------Active--------------------*/
/* Viser aktiv klasse */
.activeTable{
  visibility: visible;
  display:block;
}



/*--------------------TableToggle--------------------*/
.tableToggle {
  position: relative;
}

.detailsOutput .tableToggle,
.comparisonOutput .tableToggle {
  border: 1px solid #1a1a1a;
  display: inline-block;
  padding: 0.3em;
  border: 1px solid #1a1a1a;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  font-size: 0.8em;
}
.detailsOutput input[type="radio"].toggle,
.comparisonOutput input[type="radio"].toggle {
  display: none;
}
/*input[type="radio"].toggle + label {*/
.detailsOutput input[type="radio"].toggle + label,
.comparisonOutput input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}


input[type="radio"].toggle + label:after {
  top: 0;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: left 200ms cubic-bezier(1, .11, .93, 1);
  background: #1F2421;

}
.detailsOutput input[type="radio"].toggle.toggle-left + label:after,
.comparisonOutput input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
.detailsOutput input[type="radio"].toggle.toggle-right + label:after,
.comparisonOutput input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  color: #fff;
  transition: color 200ms;
  cursor: default;
}
.detailsOutput input[type="radio"].toggle:checked + label:after,
.comparisonOutput input[type="radio"].toggle:checked + label:after {
  left: 0;
}

/*Color themes*/

.comparisonOutput input[type="radio"].toggle + label:hover {
  color: #68553E;
}
.detailsOutput input[type="radio"].toggle + label:after {
  background: #374C70;
}
.comparisonOutput input[type="radio"].toggle + label:after {
  background: #68553E;
}
.detailsOutput input[type="radio"].toggle:checked + label,
.comparisonOutput input[type="radio"].toggle:checked + label {
  color: #fff;
}


/*--------------------botntekst--------------------*/
footer{
  bottom: 0;
  right: 0;
  z-index: 1;
  display:inline-block;
  width: 100%;
  position: fixed;
  background-color: #1F2421;
  color: #F4F4F4;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

}
