  body {
    background-color: #F4F4F4;
    color: #24201D;
    font-family: Arial, sans-serif;

  /*---GRID?---
    display: grid;
    width: 100%;
    grid-template-areas:
      'menu'
      'hovud'
      'botn';
    padding: 0;
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;*/
  }
/*--------------------NAVIGASJON--------------------*/
.navigasjon{
  background-color: #1F2421;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;

  text-transform: uppercase;
  font-size: 1em;

  display:inline-block;
  z-index: 1;
}

.navigasjon li{
  float:left;
  display: block;
}

.navigasjon ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigasjon button{
  text-decoration: none;
  font-size: 1em;
  color: #F4F4F4;
  border: none;
  background-color: #1F2421;
  display: inline-block;
  padding: 15px 32px;
}

#btn1:hover:not(.activemenu),
.activemenu #btn1{
  background-color: #542344;
}

#btn2:hover:not(.activemenu),
.activemenu #btn2{
  background-color: #074F57;
}
#btn3:hover:not(.activemenu),
.activemenu #btn3{
  background-color: #374C70;
}
#btn4:hover:not(.activemenu),
.activemenu #btn4{
  background-color: #68553E;
}


/*@media screen and (max-width: 700px){}*/
/*Vi stiller eitt krav til korleis historiske data blir vist til brukaren. Når brukaren bruker ein liten skjerm, skal
historiske data (tal for ei rekke år) presenterast vertikalt. Når brukaren bruker ein stor skjerm, skal dei historiske
dataa presenterast horisontalt*/

/*--------------------hovudinnhald--------------------*/
.hovudinnhald{
  display: block;
  margin: auto;
  padding: auto;
  /*border: dashed thin black;*/
  /*background-color: #EDEDE9;*/

}

.center{
  top: 40px;
  bottom:50px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: auto;
  overflow: scroll;
  display: block;
  margin: auto;
  padding: 10px;
}

.hovud{
  visibility: hidden;
  display: none;
}

/*--------------------active--------------------*/
.active{
  visibility: visible;
  display:block;
  margin: auto;
  }
/*--------------------INTRODUKSJON--------------------*/
.introduksjon {
  padding: auto;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  width: 900px;

}
.introduksjon h1{
  background-color: #542344;
  color: white;
  padding: 10px;
  margin: 0;

}
.introduksjon p{
  padding-bottom: 1em;
  padding: 10px;
  margin: 0;
}

.introduksjon article{
  background-color: #DFD7DD;
}
/*Introduksjon
tr:nth-child(1) {
  background-color: #542344;
  color: white;
}
tr:nth-child(even) {
  background-color: #DFD7DD;
}*/

/*--------------------OVERSIKT--------------------*/
.oversikt table {
  border-collapse: collapse;
  width:900px;
}

.oversikt th,
.oversikt td {
  text-align: left;
  padding: 8px;
}

.oversikt thead {
  background-color: #074F57;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.oversikt tbody {
 /* Ingeleiv pls fix*/
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
  width:100%;
}

.oversikt tr:nth-child(even) {
  background-color: #D1DFE0;
}


/*--------------------DETALJAR SEARCH--------------------*/


#detailsInput input[type=text] {
  width: 200px;
}
#detailsForm{
  display: block;
  border: 1px solid grey;
  background-color: #DADEE5;
  width: 248px;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

#detailsInput{
  width: 200px;
  height: 33px;
  font-size: 1em;
  padding:0.1em;
  border: none;
  background-color: #DADEE5;
}

#detailsButton{
  background:url(../images/search2.png) no-repeat;
  background-size: contain;
  border:none;
  width:40px;
  height:40px;
}

/*--------------------DETALJAR NAV--------------------*/
.sidenav{
  display: block;
  position: fixed;
  position: -webkit-fixed;
  top: 50px;
  left:25px;
  z-index: 2;

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #DADEE5;
}

.sidenav > li:nth-child(1){}
.sidenav li a{
  text-decoration: none;
  color: black;
}
.sidenav li{
  padding: 0.5em;
}
.sidenav li:hover{
  background-color: #374C70;
}


/*--------------------DETALJAR--------------------*/
.detailsOutput p, .mainHeader, .subHeader, .subHeader2 {
  font-weight: bold;
}
.detailsOutput .mainHeader {
  font-size: 2em;
}
.detailsOutput .subHeader {
  font-size: 1.5em;
}
.detailsOutput .subHeader2 {
  font-size: 1em;
}

/*--Details Table--*/
.headerCell {
  font-weight: bold;
}
.dataCell {
  padding-left: 1.5em;
}


.percentCell::after {
  content: "%";
}

.detailsOutput table,
.comparisonOutput table{
  border-collapse: collapse;
  width:900px;
  padding:auto;
  margin: auto;
  z-index: 0;
  padding-top: 10px;
}

.detailsOutput th,
.detailsOutput td,
.comparisonOutput th,
.comparisonOutput td {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: auto;
  padding-right: auto;
  height: 40px;
}

.detailsOutput th,
.comparisonOutput th{
  width:80px;
}

.detailsOutput table,
.comparisonOutput table{
  z-index: 0;
  padding-top: 10px;
}

.detailsOutput thead,
.comparisonOutput thead {
  background-color: #374C70;
  color: white;
}

.detailsOutput > div:nth-child(1) > table:nth-child(3) > thead:nth-child(1){
  position: sticky;
  position: -webkit-sticky;

  top: 0;
  z-index: 2;
}

.detailsOutput tbody,
.comparisonOutput tbody {
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.detailsOutput tr:nth-child(even),
.comparisonOutput tr:nth-child(even){
  background-color: #DADEE5;
}

.populationTable,
.employmentTable,
.educationTable,
.education11Table,
.education12Table,
.education03aTable,
.education04aTable {
  visibility: hidden;
  display: none;
}
/*--------------------Graph--------------------*/
.canvasGraph {
  visibility: hidden;
  background-color: #DADEE5;
  padding-bottom: 1em;
  display: inline-block;
  padding-left: 0.5em;
  margin-left: -5% !important;
}

.canvasGraph.transition{
  transition: 1s;
  margin-left: 0% !important;
}

/*--------------------active--------------------*/
.activeTable{
  visibility: visible;
  display:block;
}


/*--------TableToggle----------*/
.tableToggle {
  border: 1px solid #1a1a1a;
  display: inline-block;
  padding: 0.3em;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  font-size: 0.8em;
}

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
input[type="radio"].toggle + label:hover {
  background: none;
  color: #374C70;
}

input[type="radio"].toggle + label:after {
  background: #374C70;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(1, .11, .93, 1);
  width: 100%;
  z-index: -1;
}

input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}


/*--------------------SAMANLIKNING--------------------*/
/*--------------------SEARCH--------------------*/

#comparisonForm{
  border: 1px solid grey;
  background-color: #E3E0DB;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

#comparisonInput1,
#comparisonInput2{
  width: 250px;
  height: 33px;
  font-size: 1em;
  padding:0.1em;
  border: none;
  background-color: #E3E0DB;
}

#comparisonButton{
  background:url(../images/search3.png) no-repeat;
  background-size: contain;
  border:none;
  width:40px;
  height:40px;
}

/*--------------------botntekst--------------------*/
.botntekst{
  background-color: #1F2421;
  text-decoration: none;
  font-size: 1em;
  color: #F4F4F4;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;

  text-transform: uppercase;
  text-align: center;

  display:inline-block;
  z-index: 1;
}
