/* Til skjerm under 700 px */

@media screen and (max-width: 700px){

/*--------------------NAVIGASJON--------------------*/

  .navigation{
    height: 41px;
    font-size: 0.75em;
  }

  .navigation button{
    padding: 15px 16px;
    font-size: 0.75em;
  }


/*--------------------hovudinnhald--------------------*/

  .center{
    max-width: 90%; /* Bruker større del av skjermen */
    min-width: 90%; /* Bruker større del av skjermen */
  }




/*--------------------DETALJAR NAV--------------------*/
  /* Skjuler sidenav i liten skjerm */
  .sidenav{
    display: hidden;
    visibility: hidden;
  }

/*--------------------DETALJAR Table--------------------*/

  .detailsOutput thead{
    width: 100%;
  }

  .detailsOutput th,
  .detailsOutput td{
    min-width: 60px !important;
  }

  .detailsOutput th:not(.detailsOutput tr td:nth-child(1)){
    min-width:60px;
  }

/*--------------------SAMANLIKNING og detaljar--------------------*/
  .detailsOutput table,
  .comparisonOutput table{
    z-index: 0;
    width: 100%;
    padding: auto;
    padding-top: 10px;
    margin: auto;
    border-collapse: collapse;
  }
  .detailsOutput th,
  .comparisonOutput th {
    height: 40px;
    display: block;
    text-align: center;
  }

  .detailsOutput tr:not(#latestStats > table:nth-child(3) > thead:nth-child(1)),
  .detailsOutput tr:not(#latestStats > table:nth-child(3) > tbody:nth-child(2)),
  .comparisonOutput tr {
    display: block;
    float: left;
    width: 150px;
    max-width: 32%;
  }
  .detailsOutput thead tr:not(#latestStats > table:nth-child(3) > thead:nth-child(1)),
  .comparisonOutput thead tr {
    display: block;
    float: left;
    width: 100px;
  }
  .detailsOutput td:not(#latestStats thead tr td),
  .detailsOutput td:not(#latestStats tbody tr td),
  .comparisonOutput td {
    height: 40px;
  }
  .detailsOutput thead:not(#latestStats thead),
  .detailsOutput td:not(#latestStats td),
  .comparisonOutput thead,
  .comparisonOutput td{
    display: block;
    font-weight: normal;
  }
/*------------------- detaljar --------------------*/
  /* Bytt fargar */
  .detailsOutputt thead:not(#latestStats thead){
    /*background-color: #68553E;*/
    background-color: #68553E;
    color: white;
    font-weight: bold !important;
  }

  .detailsOutput .tableHeader{
    background-color: #68553E;
    color: white;
    text-align: center !important;
  }
  .detailsOutput .employmentTable tr:nth-child(even):not(#latestStats > table:nth-child(3)) {
    background-color: transparent;
  }

  .detailsOutput tbody td:nth-child(even):not(#latestStats > table:nth-child(3)),
  .detailsOutput thead td:nth-child(even):not(#latestStats > table:nth-child(3)){
    background-color: #E3E0DB;
  }


/*--------------------SAMANLIKNING--------------------*/

  .comparisonOutput .tableHeader{
    background-color: #68553E;
    color: white;
    text-align: center !important;
  }

  .comparisonOutput .employmentTable tr:nth-child(even) {
    background-color: transparent;
  }

  .comparisonOutput tbody td:nth-child(even),
  .comparisonOutput thead td:nth-child(even){
    background-color: #E3E0DB;
  }


/*--------------------botntekst--------------------*/
  footer{
    bottom: 0;
    right: 0;
    z-index: 1;
    display:inline-block;
    width: 100%;
    position: fixed;
    background-color: #1F2421;
    color: #F4F4F4;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
  }

}
