  body {
    background-color: #F4F4F4;
    color: #24201D;
    font-family: Arial, sans-serif;

  /*---GRID?---
    display: grid;
    width: 100%;
    grid-template-areas:
      'menu'
      'hovud'
      'botn';
    padding: 0;
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;*/
  }
/*--------------------NAVIGASJON--------------------*/
.navigasjon{
  background-color: #1F2421;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;

  text-transform: uppercase;
  font-size: 1em;

  display:inline-block;
  z-index: 1;
}

.navigasjon li{
  float:left;
  display: block;
}

.navigasjon ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigasjon button{
  text-decoration: none;
  font-size: 1em;
  color: #F4F4F4;
  border: none;
  background-color: #1F2421;
  display: inline-block;
  padding: 15px 32px;
}

#btn1:hover:not(.activemenu),
.activemenu #btn1{
  background-color: #542344;
}

#btn2:hover:not(.activemenu),
.activemenu #btn2{
  background-color: #074F57;
}
#btn3:hover:not(.activemenu),
.activemenu #btn3{
  background-color: #374C70;
}
#btn4:hover:not(.activemenu),
.activemenu #btn4{
  background-color: #68553E;
}


/*@media screen and (max-width: 700px){}*/
/*Vi stiller eitt krav til korleis historiske data blir vist til brukaren. Når brukaren bruker ein liten skjerm, skal
historiske data (tal for ei rekke år) presenterast vertikalt. Når brukaren bruker ein stor skjerm, skal dei historiske
dataa presenterast horisontalt*/

/*--------------------hovudinnhald--------------------*/
.hovudinnhald{
  display: block;
  top: 50px;
  bottom:50px;
  left: 50%;
  transform: translate(-50%);

  position: absolute;
  margin: auto;
  padding: 10px;
  /*border: dashed thin black;*/

  width: auto;
  overflow: scroll;
  /*background-color: #EDEDE9;*/

}

.hovud{
  visibility: hidden;
  display: none;
}
/*--------------------active--------------------*/
.active{
  visibility: visible;
  display:block;
  margin: auto;
  }
/*--------------------INTRODUKSJON--------------------*/
.introduksjon {
  padding: auto;
  margin: auto;
  background-color: #DFD7DD;
  height: 100%;
}
.introduksjon h1{
  background-color: #542344;
  color: white;
  padding: 10px;
  margin: 0;
}
.introduksjon p{
  padding-bottom: 1em;
  padding: 10px;
  margin: 0;
}
/*Introduksjon
tr:nth-child(1) {
  background-color: #542344;
  color: white;
}
tr:nth-child(even) {
  background-color: #DFD7DD;
}*/

/*--------------------OVERSIKT--------------------*/
table {
  display: block;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

thead {
  background-color: #074F57;
  color: white;
}
tbody {
 /* Ingeleiv pls fix*/
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}
tr:nth-child(even) {
  background-color: #D1DFE0;
}


/*--------------------DETALJAR--------------------*/
.detailsOutput header {
  font-size: 2em;
}
.detailsOutput p, header {
  font-weight: bold;
}

/*--Details Table--*/
.headerCell {
  font-weight: bold;
}
.dataCell {
  padding-left: 1.5em;
}
.numberCell {

}
.percentCell::after {
  content: "%";
}


/*--------------------SAMANLIKNING--------------------*/

/*--------------------botntekst--------------------*/
.botntekst{
  background-color: #1F2421;
  text-decoration: none;
  font-size: 1em;
  color: #F4F4F4;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;

  text-transform: uppercase;
  text-align: center;

  display:inline-block;
  z-index: 1;
}
